{{extend name="layout:form1" /}

{block name="main"}
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">用户组</label>
        <div class="layui-input-block">
            {eq name="data.id" value="1"}
            <input type="text" name="group_id" value="{$data.group}"  class="layui-input layui-btn-disabled" disabled>
            {else/}
            <select name="group_id" lay-verify="required" lay-search="" {eq name="data.id" value="1"}disabled{/eq}>
                <option value="">请选择用户组</option>
                <option value="">请选择用户组</option>
                {volist name="list_group" id="vo"}
                <option value="{$vo.id}" {eq name="data.group_id" value="$vo.id"}selected{/eq} {neq name="vo.status" value="1"}disabled{/neq} >{$vo.name}{neq name="vo.status" value="1"}（已禁用）{/neq}</option>
                {/volist}
            </select>
            {/eq}

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            <input type="text" name="username" value="{$data.username}" autocomplete="off" placeholder="请输入账号" class="layui-input" lay-verify="required|username">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="true_name" value="{$data.true_name}" autocomplete="off" placeholder="请输入真实姓名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机</label>
        <div class="layui-input-inline">
            <input type="tel" name="mobile" value="{$data.mobile}" autocomplete="off" placeholder="请输入手机号" class="layui-input" lay-verify="phone">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="email" value="{$data.email}" autocomplete="off" placeholder="请输入邮箱号" class="layui-input" lay-verify="email">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户头像</label>
        <div class="layui-input-block">
            <input type="file" name="file" class="layui-upload-file">
            <input type="hidden" name="img" value="{$data.img}">
            <img src="{$data.img}" id="img" style="max-height: 120px;max-width: 270px;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="password">
        </div>
        <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
            <input type="password" name="check_password" placeholder="请再次输入密码" autocomplete="off" class="layui-input" lay-verify="check_password">
        </div>
        <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号状态</label>
        <div class="layui-input-block">
            {volist name="list_status" id="vo"}
            <input type="radio" name="status" value="{$key}" title="{$vo}" {eq name="data.status" value="$key"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{$data.id}">
            <button class="layui-btn" lay-submit lay-filter="form_edit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}

{block name="foot"}
<script>

    var edit_url='{:Url("admin/Account/edit")}';
    var upload_img_url='{:Url("admin/Upload/img")}';

    layui.use(['upload'], function() {
        var upload = layui.upload;

        upload({
            url: upload_img_url,
            method: 'post', //上传接口的http类型
            ext: 'jpg|jpeg|png|gif|bmp',
            before: function(){
                ind_load=layerTips.msg('图片上传中...',{icon: 16,shade: 0.01});
            },
            success: function(result){
//                    layerTips.close(ind_load);
                layerTips.msg(result.msg);
                if(result.code==0){
                    $("input[name=img]").val(result.data.src);
                    $('#img').attr("src",result.data.src);
                }
            }
        });
    });

</script>
{/block}