{layout name="layout:btable" /}

<blockquote class="layui-elem-quote">
    <button type="button" class="layui-btn layui-btn-small" id="edit"><i class="fa fa-plus" aria-hidden="true"></i> 添加</button>
    <form class="layui-form" style="float:right;">
        <div class="layui-form-item" style="margin:0;">
            <label class="layui-form-label">账号状态</label>
            <div class="layui-input-inline">
                <select name="status" lay-filter="search_status">
                    <option value="">请选择账号状态</option>
                    <option value="">全部</option>
                    <option value="1">正常</option>
                    <option value="2">禁用</option>
                </select>
            </div>
            <label class="layui-form-label">关键字</label>
            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="支持模糊查询.." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="padding:0;">
                <button lay-filter="search" class="layui-btn" lay-submit><i class="fa fa-search" aria-hidden="true"></i> 查询</button>
            </div>
        </div>
    </form>
</blockquote>
<div id="content" style="width: 100%;height: 533px;"></div>

<script>
    layui.use(['btable', 'form','layer'], function () {
        var btable = layui.btable(),
            layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            layer = layui.layer,//获取当前窗口的layer对象;
            form = layui.form();

        btable.set({
            openWait: true,//开启等待框
            elem: '#content',
            url: "{:Url('admin/Account/getList')}", //数据源地址
            type: 'POST', //读取方式
            pageSize: 20,//页大小
            params: {t: new Date().getTime()},//额外的请求参数
            columns: [{ //配置数据列
                fieldName: '编号',
                field: 'id',
                sortable: true
            },  {
                fieldName: '账号',
                field: 'username',
                sortable: false
            },  {
                fieldName: '真实姓名',
                field: 'true_name',
                sortable: false
            },  {
                fieldName: '手机号',
                field: 'mobile',
                sortable: false
            },  {
                fieldName: '邮箱号',
                field: 'email',
                sortable: false
            }, {
                fieldName: '状态',
                field: 'status_name',
                sortable: true,
                format: function (val,obj) {
                    var html='';
                    if(val){
                        html+='<input type="checkbox" name="status" lay-skin="switch" lay-text="正常|禁用" lay-filter="switchStatus" data-id="'+obj.id+'" '+(obj.status==1?"checked":"")+'>';
                    }
                    return html;
                }
            }, {
                fieldName: '添加时间',
                field: 'create_time',
                sortable: true
            }, {
                fieldName: '最后登录时间',
                field: 'last_login_time',
                sortable: true
            }, {
                fieldName: '最后登录IP',
                field: 'ip',
                sortable: false
            }, {
                fieldName: '最后登录地区',
                field: 'area',
                sortable: false
            }, {
                fieldName: '用户组',
                field: 'group',
                sortable: false
            }, {
                fieldName: '操作',
                field: 'copy_id',
                format: function (val,obj) {
                    var html='';
                    if(val){
                        html+='<input type="button" value="编辑" data-action="edit" data-id="' + val + '" data-url="'+obj.url_edit+'" class="layui-btn layui-btn-mini" />';
                        html+='<input type="button" value="删除" data-action="del" data-id="' + val + '" data-url="'+obj.url_del+'" class="layui-btn layui-btn-mini layui-btn-danger '+(val==1?'layui-btn-disabled':"")+'" />';
                    }
                     return html;
                }
            }],
            even: true,//隔行变色
            field: 'id', //主键ID
            //skin: 'row',
            checkbox: false,//是否显示多选框
            paged: true, //是否显示分页
            singleSelect: false, //只允许选择一行，checkbox为true生效
            onSuccess: function ($elem) { //$elem当前窗口的jq对象
                $elem.children('tr').each(function () {
                    $(this).children('td:last-child').children('input').each(function () {
                        var $that = $(this);
                        var action = $that.data('action');
                        var id = $that.data('id');
                        var url = $that.data('url');
                        $that.on('click', function () {
                            var name = $that.parent('td').siblings('td[data-field=username]').text();
                            switch (action) {
                                case 'edit':
//                                    layerTips.msg(action+":"+id);
                                    edit(url,"修改管理员【"+name+"】账号");
                                    break;
                                case 'del': //删除
                                    if(id==1) return false;
                                    //询问框
                                    layerTips.confirm('确定要删除[ <span style="color:red;">' + name + '</span> ] ？', { icon: 3, title: '系统提示' }, function (index) {
                                        $.post('{:Url("admin/Account/del")}',{id:id},function (data) {
                                            if(data.code==1){
                                                $that.parent('td').parent('tr').remove();
                                            }
                                            layerTips.msg(data.msg);
                                        },"json");
                                    });
                                    break;
                            }
                        });
                    });
                });
            }
        });
        btable.render();
        //监听搜索表单的提交事件
        form.on('submit(search)', function (data) {
            btable.get(data.field);
            return false;
        });
        //监听搜索表单的提交事件
        form.on('select(search_status)', function(data){
            //重新加载当前页
            var field={status:data.value};
            var form_field=$("form").serializeArray();
            if(form_field){
                $.each(form_field,function (i,v){
                    field[v.name]=v.value;
                })
            }
            btable.get(field);
            field=form_field=null;
            return false;
        });

        //监听指定开关
        form.on('switch(switchStatus)', function(data){
            var ind_load=layerTips.load(2);
            $.post("{:Url('admin/Account/editStatus')}",{id:$(this).data("id"),status:data.elem.checked?1:2},function (result) {
                layerTips.close(ind_load);
                layerTips.msg(result.msg);
                if(result.code!=1){
                    //重新加载当前页
                    var pageIndex=$(".layui-laypage-curr em").text()?$(".layui-laypage-curr em").text():1;
                    var field={pageIndex:pageIndex};
                    var form_field=$("form").serializeArray();
                    if(form_field){
                        $.each(form_field,function (i,v){
                            field[v.name]=v.value;
                        })
                    }
                    btable.get(field);
                    field=form_field=null;
                }
            },"json");
        });

        $(window).on('resize', function (e) {
            var $that = $(this);
            $('#content').height($that.height() - 92);
        }).resize();

        $("#edit").click(function () {
            edit('{:Url("admin/Account/add")}',"新增管理员账号");
        });

        function edit(url,title) {
            var top_index=layerTips.open({
                type: 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: title,
                maxmin: true, //最大最小化
                area : ['470px','550px'],//宽高
                content: url,
                cancel:function (index, layero) {
                    layerTips.confirm('若数据未保存，关闭后数据会丢失，确定要关闭吗？',function(ind){
                        layerTips.close(ind);
                        layerTips.close(index);

                        //重新加载当前页
                        var pageIndex=$(".layui-laypage-curr em").text()?$(".layui-laypage-curr em").text():1;
                        var field={pageIndex:pageIndex};
                        var form_field=$("form").serializeArray();
                        if(form_field){
                            $.each(form_field,function (i,v){
                                field[v.name]=v.value;
                            })
                        }
                        btable.get(field);
                        field=form_field=null;
                    });
                    return false;
                }
            });
//            layerTips.full(top_index);//弹出即最大化
        }

    });

</script>