<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>icheck</title>

	<!-- head begin -->
	<script>
        document.write('<link rel="stylesheet" href="__EXTEND_DEMO__/layui/css/layui.css?'+Math.random()+'" media="all" />');
	</script>
	<!-- head end -->

</head>
<body>

<div style="margin: 15px;">

	<!-- main begin -->
	<blockquote class="layui-elem-quote">
		<p>第三方 iCheck 组件</p>
		<p>文档地址：
			<a href="http://www.bootcss.com/p/icheck/" target="_blank">http://www.bootcss.com/p/icheck/</a>
		</p>
	</blockquote>
	<fieldset class="layui-elem-field">
		<legend>演示</legend>
		<div class="layui-field-box">
		</div>
	</fieldset>
	<!-- main end -->

</div>

<!-- foot begin -->
<script>
    document.write('<script type="text/javascript" src="__JS__/jquery-3.2.1.min.js?'+Math.random()+'"><\/script>');
    document.write('<script type="text/javascript" src="__EXTEND_DEMO__/layui/layui.js?'+Math.random()+'"><\/script>');
</script>
<!-- foot end -->
<script>
    layui.use(['jquery'], function() {
        var $ = layui.jquery,
            layer = top.layui.layer;
		
        //layer.alert('dom');
    });
</script>

</body>
</html>