<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bable</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">

    <!-- head begin -->
    {include file="public:head" /}
    <link rel="stylesheet" href="__ADMIN_CSS__/btable.css" />
    <!-- head end -->

</head>
<body style="background-color: gainsboro;">

<!-- main begin -->
<div style="background-color: white; margin:0 10px;">

    <!-- main begin -->
    {__CONTENT__}
    <!-- main end -->

</div>
<!-- main end -->

<!-- foot begin -->
{include file="public:foot" /}
<script>
    document.write('<script type="text/javascript" src="__ADMIN_JS__/btable.js?'+Math.random()+'"><\/script>');
</script>
<!-- foot end -->

<!-- luck begin -->
{include file="public:luck" /}
<!-- luck end -->

</body>
</html>