<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>

	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">

	<!-- head begin -->
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="__ADMIN_CSS__/font-awesome/css/font-awesome.min.css" />
	<!-- head end -->

	<!-- foot begin -->
	<script type="text/javascript" src="__ADMIN_JS__/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="__ADMIN__/layui/layui.js"></script>
	<!-- foot end -->

</head>
<body>

<div style="margin: 15px;">

	<!-- main begin -->
	{__CONTENT__}
	<!-- main end -->

</div>

<!-- luck begin -->
{include file="public:luck" /}
<!-- luck end -->

</body>
</html>