{extend name="layout:form1" /}

{block name="head"}
<!-- head begin -->
<link rel="stylesheet" href="__ADMIN__/zTree/css/metroStyle/metroStyle.css" />
<!-- head end -->
{/block}

{block name="main"}
<form class="layui-form mb80">
    <div class="layui-form-item">
        <label class="layui-form-label">用户组名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="" autocomplete="off" placeholder="请输入用户组名称" class="layui-input" lay-verify="required|name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号状态</label>
        <div class="layui-input-block">
            {volist name="list_status" id="vo"}
            <input type="radio" name="status" value="{$key}" title="{$vo}" {eq name="key" value="1"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <fieldset class="layui-elem-field">
        <legend>菜单权限设置</legend>
        <div class="layui-field-box">
            <ul id="menuTree" class="ztree"></ul>
        </div>
    </fieldset>
    <div class="layui-form-item button_fixed">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form_add_menu">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}

{block name="foot"}
<!-- foot begin -->
<script type="text/javascript" src="__ADMIN__/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="__ADMIN__/zTree/js/jquery.ztree.excheck.min.js"></script>
<!-- foot end -->
<script>

    var add_url='{:Url("admin/Group/add")}';
    var menu_url='{:Url("admin/Menus/menuTree")}';

    layui.use(['layer','form'], function() {
        var form = layui.form();
        layerTips = parent.layer === undefined ? layui.layer : parent.layer; //获取父窗口的layer对象

        var zTree;
        // zTree 配置项
        var setting= {
            view: {
                dblClickExpand: true,
                showLine: true,
                showIcon: false,
                selectedMulti: false
            },
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid"
                },
                key: {
                    name: "title"
                }
            }
        };

        console.log(menu_url);

        $.post(menu_url,{},function (data) {
            zTree = $.fn.zTree.init($("#menuTree"), setting, data);
        });

        //自定义验证规则
        form.verify({
            name: [/^[\S]{2,30}$/, '用户组名称必须6到12位，且不能出现空格']
        });

        //监听提交
        form.on('submit(form_add_menu)', function(data) {
            var ind_load=layerTips.load(2);

            var auth_rule_ids=[];
            var checked_ids = zTree.getCheckedNodes(); // 获取当前选中的checkbox
            $.each(checked_ids, function (index, item) {
                auth_rule_ids.push(item.id);
            });
            data.field["menu_id"]=auth_rule_ids;
            checked_ids=null;
            auth_rule_ids=null;

            $.post(add_url,data.field,function (result) {
                layerTips.close(ind_load);
                if(result.code==1){
                    layerTips.confirm(result.msg,{btn: ['继续添加','重新编辑'],btnAlign:'c',closeBtn:0},function(ind){
                        layerTips.close(ind);
                        location.reload();
                    },function (ind) {
                        layerTips.close(ind);
                        location.href=result.data.url_edit;
                    });
                }else {
                    layerTips.msg(result.msg);
                }
            },"json");
            return false;
        });
    });
</script>
{/block}