{layout name="layout:form" /}

<form class="layui-form mb80">
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value="" autocomplete="off" placeholder="请输入菜单名称" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select name="pid" lay-verify="required" lay-search="">
                <option value="">请选择上级菜单</option>
                <option value="">请选择上级菜单</option>
                <option value="0" {eq name="pid" value="0"}selected{/eq}>顶级菜单</option>
                {volist name="menu" id="vo"}
                <option value="{$vo.id}" {eq name="pid" value="$vo.id"}selected{/eq}>{$vo.title}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">模块名称</label>
        <div class="layui-input-block">
            <input type="text" name="module" value="admin" autocomplete="off" placeholder="请输入模块名称" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">控制器名称</label>
        <div class="layui-input-block">
            <input type="text" name="controller" value="" autocomplete="off" placeholder="请输入控制器名称" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">方法名称</label>
        <div class="layui-input-block">
            <input type="text" name="action" value="" autocomplete="off" placeholder="请输入方法名称" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <input type="text" name="icon" value="" autocomplete="off" placeholder="请输入菜单图标" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单排序</label>
        <div class="layui-input-block">
            <input type="number" name="sort" value="1" autocomplete="off" placeholder="请输入权重值" class="layui-input" min="1" max="99" lay-verify="number">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限类型</label>
        <div class="layui-input-block">
            {volist name="list_type" id="vo"}
            <input type="radio" name="type" value="{$key}" title="{$vo}" {eq name="key" value="1"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单状态</label>
        <div class="layui-input-block">
            {volist name="list_status" id="vo"}
            <input type="radio" name="status" value="{$key}" title="{$vo}" {eq name="key" value="1"}checked{/eq}>
            {/volist}
        </div>
    </div>
    <div class="layui-form-item button_fixed">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="form_add">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>

    var add_url='{:Url("admin/Menus/add")}';

</script>