{extend name="layout:form1" /}

{block name="head"}
<!-- head begin -->
<link rel="stylesheet" href="__ADMIN__/zTree/css/metroStyle/metroStyle.css" />
<!-- head end -->
{/block}

{block name="main"}
<fieldset class="layui-elem-field">
    <legend>菜单树</legend>
    <div class="layui-field-box">
        <ul id="menuTree" class="ztree"></ul>
    </div>
</fieldset>
{/block}

{block name="foot"}
<!-- foot begin -->
<script type="text/javascript" src="__ADMIN__/zTree/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="__ADMIN__/zTree/js/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="__ADMIN__/zTree/js/jquery.ztree.exedit.min.js"></script>
<!-- foot end -->
<script>

    var area=['470px','600px'];//弹窗大小
    var add_url='{:Url("admin/Menus/add")}';
    var edit_url='{:Url("admin/Menus/edit")}';
    var edit_pid_url='{:Url("admin/Menus/editMenuPid")}';
    var edit_title_url='{:Url("admin/Menus/editMenuTitle")}';
    var tree_url='{:Url("admin/Menus/getAll")}';
    var del_url='{:Url("admin/Menus/del")}';

    layui.use([], function() {

        var zTree;
        // zTree 配置项
        var setting= {
            view: {
                dblClickExpand: true,
                showLine: true,
                showIcon: false,
                selectedMulti: false,
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom
            },
            check: {
                enable: false
            },
            edit: {
                enable: true,
                drag: {
                    isMove: true,
                    prev: true,
                    next: true,
                    inner: true
                },
                showRemoveBtn: false,
                showRenameBtn: false
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid"
                },
                key: {
                    name: "title"
                }
            },
            callback: {
                beforeDrag: beforeDrag,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename,
                onRemove: onRemove,
                onRename: onRename,
                onDrop: onDrop
            }
        };

        $.post(tree_url,{},function (data) {
            zTree = $.fn.zTree.init($("#menuTree"), setting, data);
        });

        function beforeRemove(treeId, treeNode) {
//            layerTips.confirm("确认删除 菜单 【<font color='red'>" + treeNode.title + "</font>】 吗？",function (index) {
//                layerTips.close(index);
//                return zTree.removedNodes;
//            },function (index) {
//                layerTips.close(index);
//                return false;
//            });
            return confirm("确认删除 菜单 【<font color='red'>" + treeNode.title + "</font>】 吗？");
        }
        function onRemove(event, treeId, treeNode) {
//            $.post("{:Url('admin/Menus/del')}",{id:treeNode.id},function (result) {
//                layerTips.msg(result.msg);
//                return result.code;
//            });
        }

        function beforeDrag(treeId, treeNodes) {
            return true;
        }
        function onDrop(event, treeId, treeNodes, targetNode, moveType) {
            $.post(edit_pid_url,{id:treeNodes[0].id,pid:treeNodes[0].pid},function (result) {
                layerTips.msg(result.msg);
                return result.code;
            });
        }

        function beforeRename(treeId, treeNode, newName, isCancel) {
            if (newName.length == 0) {
                zTree.cancelEditName();
                layerTips.tips('菜单名称不能为空', "#"+treeNode.tId+"_a", {
                    tips: [2, '#009688'],
                    time: 1500
                });
                return false;
            }else{
                return true;
            }
        }
        function onRename(event, treeId, treeNode, isCancel) {
            $.post(edit_title_url,{id:treeNode.id,title:treeNode.title},function (result) {
                layerTips.msg(result.msg);
                return result.code;
            });
        }


        function addHoverDom(treeId, treeNode) {
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#diyBtn_"+treeNode.tId+"_add").length>0 || $("#diyBtn_"+treeNode.tId+"_edit").length>0 || $("#diyBtn_"+treeNode.tId+"_remove").length>0) return;
            var addStr = '<span class="button add" id="diyBtn_'+ treeNode.tId+'_add" title="add node" onfocus="this.blur();"></span>';
            addStr += '<span class="button edit" id="diyBtn_'+ treeNode.tId+'_edit" title="rename" onfocus="this.blur();"></span>';
            addStr += '<span class="button remove" id="diyBtn_'+ treeNode.tId+'_remove" title="remove" onfocus="this.blur();"></span>';
            sObj.after(addStr);
            var btn_add = $("#diyBtn_"+treeNode.tId+"_add");
            var btn_edit = $("#diyBtn_"+treeNode.tId+"_edit");
            var btn_remove = $("#diyBtn_"+treeNode.tId+"_remove");
            if (btn_add) btn_add.bind("click", function(){
                edit(add_url+"?pid="+treeNode.id,"新增菜单",area,$.md5(add_url));
                return false;
            });
            if (btn_edit) btn_edit.bind("click", function(){
                edit(edit_url+"?id="+treeNode.id,"修改菜单",area,$.md5(add_url)+"_id_"+treeNode.id);
                return false;
            });
            if (btn_remove) btn_remove.bind("click", function(){
                layerTips.confirm("确认删除 菜单 【<font color='red'>" + treeNode.title + "</font>】 吗？",function (index) {
                    layerTips.close(index);
                    $.post(del_url,{id:treeNode.id},function (result) {
                        layerTips.msg(result.msg);
                        if(result.code==1) zTree.removeNode(treeNode);
                    });
                    return true;
                },function (index) {
                    layerTips.close(index);
                    return false;
                });
                return false;
            });
        }
        function removeHoverDom(treeId, treeNode) {
            $("#diyBtn_"+treeNode.tId+"_add").unbind().remove();
            $("#diyBtn_"+treeNode.tId+"_edit").unbind().remove();
            $("#diyBtn_"+treeNode.tId+"_remove").unbind().remove();
        }


        function edit(url,title,area,id) {
            var top_index=layerTips.open({
                type: 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: title,
                maxmin : true, //最大最小化
                shade: 0.3, //遮罩
                id : id?id:'', //用于控制弹层唯一标识
                area : area?area:"",//宽高
                content: url,
                cancel:function (index, layero) {
                    layerTips.confirm('若数据未保存，关闭后数据会丢失，确定要关闭吗？',function(ind){
                        layerTips.close(ind);
                        layerTips.close(index);
                        window.location.reload();
                    });
                    return false;
                },
                full:function (layero) {
                    layero.find("iframe").height(layero.height()-layero.find(".layui-layer-title").height());
                },
                restore:function (layero) {
                    layero.find("iframe").height(layero.height()-layero.find(".layui-layer-title").height());
                },
                resizing:function(layero) { //拉伸时修改高度
                    layero.find("iframe").height(layero.height()-layero.find(".layui-layer-title").height()-1);
                }
            });
            var device = layui.device();//获取设备信息
            // 如果是手机浏览器，则最大化
            if(device.android||device.ios||device.weixin) layerTips.full(top_index);//弹出即最大化
        }

    });

</script>
{/block}
