{layout name="layout:table" /}

<!-- main begin -->
<blockquote class="layui-elem-quote">
    <a href="javascript:;" class="layui-btn layui-btn-warm layui-btn-small" id="menuTree">
        <i class="layui-icon">&#xe62e;</i> 菜单树
    </a>
    <a href="javascript:;" class="layui-btn layui-btn-small" id="add">
        <i class="layui-icon">&#xe608;</i> 添加信息
    </a>
    <form class="layui-form" style="float:right;">
        <div class="layui-form-item" style="margin:0;">
            <label class="layui-form-label">用户组状态</label>
            <div class="layui-input-inline">
                <select name="status" lay-filter="search_status">
                    <option value="">请选择用户组状态</option>
                    <option value="">全部</option>
                    <option value="1">正常</option>
                    <option value="2">禁用</option>
                </select>
            </div>
            <label class="layui-form-label">关键字</label>
            <div class="layui-input-inline">
                <input type="text" name="keyword" placeholder="支持模糊查询.." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" style="padding:0;">
                <button lay-filter="search" class="layui-btn" lay-submit><i class="fa fa-search" aria-hidden="true"></i> 查询</button>
            </div>
        </div>
    </form>
</blockquote>

<div class="layui-form">
    <table class="layui-table admin-table">
        <thead>
        <tr>
            <th>编号</th>
            <th>菜单名</th>
            <th>上级菜单</th>
            <th>地址</th>
            <th>图标</th>
            <th>排序</th>
            <th>权限类型</th>
            <th>菜单状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="content">
        </tbody>
    </table>
</div>

<div class="admin-table-page">
    <div id="paged" class="page">
    </div>
</div>
<!-- main end -->

<!-- 模板 begin -->
<script type="text/html" id="tpl">
    {{# if(d.list.length>0 && d.list!=undefined){ }}
        {{# layui.each(d.list, function(index, item){ }}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.ptitle }}</td>
            <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
            <td><i class="fa {{ item.icon }}"></i></td>
            <td>{{ item.sort }}</td>
            <td>{{ item.type_name }}</td>
            <td>
                <input type="checkbox" name="status" lay-skin="switch" lay-text="展示|隐藏" lay-filter="switchStatus" data-id="{{ item.id }}" {{# if(item.status=="1"){ }}checked{{# } }}>
            </td>
            <td>
                <a href="javascript:;" data-id="{{ item.id }}" data-name="{{ item.title }}"  data-url="{{ item.url_edit }}" data-opt="edit" class="layui-btn layui-btn-mini">编辑</a>
                <a href="javascript:;" {{# if(item.id>2){ }}data-id="{{ item.id }}" data-name="{{ item.title }}" data-url="{{ item.url_del }}" data-opt="del"{{# } }} class="layui-btn layui-btn-danger layui-btn-mini {{# if(item.id<=2){ }}layui-btn-disabled{{# } }}">删除</a>
            </td>
        </tr>
        {{# }); }}
    {{# }else{ }}
        <tr><td colspan="4">暂无数据.</td></tr>
    {{# } }}
</script>
<!-- 模板 end -->

<script>
    layui.use(['paging', 'form'], function() {
        var paging = layui.paging(),
            layerTips = parent.layer === undefined ? layui.layer : parent.layer, //获取父窗口的layer对象
            layer = layui.layer, //获取当前窗口的layer对象
            form = layui.form();

        paging.init({
            openWait: true,
            url: "{:Url('admin/Menus/getList')}", //地址
            elem: '#content', //内容容器
            params: {},//发送到服务端的参数
            type: 'POST',
            tempElem: '#tpl', //模块容器
            pageConfig: { //分页参数配置
                elem: '#paged', //分页容器
                pageSize: 20 //分页大小
            },
            success: function() { //渲染成功的回调
                //alert('渲染成功');
            },
            fail: function(msg) { //获取数据失败的回调
                //alert('获取数据失败')
            },
            complate: function() { //完成的回调
                //alert('处理完成');
                form.render('checkbox');

                //绑定所有编辑按钮事件
                $('#content').children('tr').each(function() {
                    var $that = $(this);
                    $that.children('td:last-child').children('a[data-opt=edit]').on('click', function() {
                        edit($(this).data('url'),"修改菜单【 <span style='color:red;'>"+$(this).data('name')+"</span>】信息");
                    });
                    $that.children('td:last-child').children('a[data-opt=del]').on('click', function() {
                        var id=$(this).data('id');
                        if(id<=2) return false;
                        layerTips.confirm('确定要删除【 <span style="color:red;">' + $(this).data('name') + '</span> 】 ？', { icon: 3, title: '系统提示' }, function (index) {
                            $.post('{:Url("admin/Menus/del")}',{id:id},function (data) {
                                if(data.code==1){
                                    $that.parent('td').parent('tr').remove();
                                }
                                layerTips.msg(data.msg);
                            },"json");
                        });
                    });

                });

            },
        });

        //监听搜索表单的提交事件
        form.on('submit(search)', function (data) {
            paging.get(data.field);
            return false;
        });
        //监听搜索表单的提交事件
        form.on('select(search_status)', function(data){
            //重新加载当前页
            var field={status:data.value};
            var form_field=$("form").serializeArray();
            if(form_field){
                $.each(form_field,function (i,v){
                    field[v.name]=v.value;
                })
            }
            paging.get(field);
            field=form_field=null;
            return false;
        });

        //监听指定开关
        form.on('switch(switchStatus)', function(data){
            var ind_load=layerTips.load(2);
            $.post("{:Url('admin/Menus/editStatus')}",{id:$(this).data("id"),status:data.elem.checked?1:2},function (result) {
                layerTips.close(ind_load);
                layerTips.msg(result.msg);
                if(result.code!=1){
                    //重新加载当前页
                    var pageIndex=$(".layui-laypage-curr em").text()?$(".layui-laypage-curr em").text():1;
                    var field={pageIndex:pageIndex};
                    var form_field=$("form").serializeArray();
                    if(form_field){
                        $.each(form_field,function (i,v){
                            field[v.name]=v.value;
                        })
                    }
                    paging.get(field);
                    field=form_field=null;
                }
            },"json");
        });

        $('#add').on('click', function() {
            //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
            edit('{:Url("admin/Menus/add")}',"新增菜单");
        });

        function edit(url,title) {
            var top_index=layerTips.open({
                type: 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: title,
                maxmin : true, //最大最小化
                area : ['470px','600px'],//宽高
                content: url,
//                btn: ['提交', '重置'], //可以无限个按钮
//                btnAlign: 'c',
                cancel:function (index, layero) {
                    layerTips.confirm('若数据未保存，关闭后数据会丢失，确定要关闭吗？',function(ind){
                        layerTips.close(ind);
                        layerTips.close(index);

                        //重新加载当前页
                        var pageIndex=$(".layui-laypage-curr em").text()?$(".layui-laypage-curr em").text():1;
                        var field={pageIndex:pageIndex};
                        var form_field=$("form").serializeArray();
                        if(form_field){
                            $.each(form_field,function (i,v){
                                field[v.name]=v.value;
                            })
                        }
                        paging.get(field);
                        field=form_field=null;
                    });
                    return false;
                }
            });
//            layerTips.full(top_index);//弹出即最大化
        }


        $('#menuTree').on('click', function() {
            var tree_index=layerTips.open({
                type: 2,//0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                title: "菜单树",
                maxmin : true, //最大最小化
                area : ['470px','600px'],//宽高
                content: '{:Url("admin/Menus/getAll")}',
//                btn: ['提交', '重置'], //可以无限个按钮
//                btnAlign: 'c',
                cancel:function (index, layero) {
                    layerTips.close(index);

                    //重新加载当前页
                    var pageIndex=$(".layui-laypage-curr em").text()?$(".layui-laypage-curr em").text():1;
                    var field={pageIndex:pageIndex};
                    var form_field=$("form").serializeArray();
                    if(form_field){
                        $.each(form_field,function (i,v){
                            field[v.name]=v.value;
                        })
                    }
                    paging.get(field);
                    field=form_field=null;

                    return false;
                }
            });
            layerTips.full(tree_index);//弹出即最大化
        });
    });

</script>